img{
    max-width: 100%;
    height: auto;
    display: block;
    /* margin: 0 auto; */
    padding:20px;
}
body{
    width:auto;
    height:auto;
    background-color: #ccb7fd;
    justify-content: center;
    align-items: center;
   
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

h1{
    /* text-align: center; */
    font-size: 2.5em;
    color: #333;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    padding:20px;
}

h2{
    padding-left:20px;
}

p{
    font-size: 1.2em;
    color: #555;
    font-family: Arial, sans-serif;
    margin:20px 0;
    padding:20px;
    width:500px;
}

#link1,#link2{
    padding:20px;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #fec7c7;
    border-radius: 5px;
    text-align: center;
    background-color: #f7cbcb;
    font-weight: bold;
    cursor: pointer;
}