body{
    background-color: #FDDBB0;
    color:black;
    max-width:1200px;
}

h1,h2{
    font-family:"Inria Serif";
}

h1{
    font-size:2em;
    font-weight:bold;
    margin:0;
    padding-bottom:0;
    color:#5c3e23;
    text-align: center;
    justify-content: center;
    padding:20px;
}

h2{
    margin:0 auto;
    font-size:1.5em;
    font-weight:normal;
    color:#5c3e23;
    justify-content: center;
    margin:auto;
    width:500px;
}

.logo {
    height: 50px; 
    margin: 0;
    justify-content: center;
    text-align: center;
    display: block;
}

article{
    font-family:"Inria Serif";
    font-size: 1em;
    line-height:2em;
    width:500px;
    text-align: justify;
    margin:auto;
}

article a{
    text-decoration: none;
    display: inline-block; 
    padding: 8px 15px; 
    margin: 5px 0; 
    background-color: #f5fc8f; 
    color: 6e9eff; 
    text-decoration: none; 
    font-weight: bold;
    border-radius: 10px; 
    border: 2px solid #000000;
}
  
article a:hover {
    background-color: #6e9eff;
    color: #f5fc8f; 
    border-radius: 10px;
    
 }
